<h3>ALL STUDENTS</h3>
<table class="table ">
 <tr class="table-info">
 <td>ID</td>
 <td>NAME</td>
 <td>Fee</td>
 <td>Course</td>
 <td>Operations</td>
 </tr>
 <tr *ngFor="let s of students ">
 <td>{{s._id}}</td>
 <td>{{s.stdName}}</td>
 <td>{{s.stdFee}}</td>
 <td>{{s.stdCourse}}</td>
 <td>
 <button class="btn btn-danger" (click)="deleteStudent(s._id)">DELETE</button>
 &nbsp;&nbsp;
 <button class="btn btn-info" (click)="editStudent(s._id)">EDIT</button>
 </td>
 </tr>

</table>
{{message.message}}
